* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.servise-title {
  margin-left: 40%;
}
.project-content {
  display: none;
}
.project-cards .project-card:hover .project-content {
  display: block;
}

.main-sec img {
  animation-name: img-main;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes img-main {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(12px);
  }
  75% {
    transform: translateY(24px);
  }
  100% {
    transform: translateY(0px);
  }
}
