* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.servise-title {
  margin-left: 40%;
}
.project-content {
  display: none;
}
.project-cards .project-card:hover .project-content {
  display: block;
}
